.label-body {
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .label-box {
    @include flex(flex-start);
    padding: 12px 16px 0;
    width: max-content;
    .label-text {
      margin: 4px;
      box-sizing: border-box;
      font-size: 14px;
      color: $subFontColor;
      border: 1px solid #d8dce5;
      border-radius: 12px;
      padding: 4px 8px;
    }
    .label-text__active {
      color: #fff;
      border: none;
    }
  }
}
